@import url(reset.css);
body{
    background-color: rgb(143, 131, 116);
}


.container{
    position: absolute;
    display: flex;
    top: 25px;
    left: 100px;
    
    gap: 50px;
    padding: 25px;
    background-color: rgb(19, 19, 146);
    border-radius: 16px;
    flex-direction: column;
    
    
}

.container button{
    height: 250px;
    width: 250px;
    background-position: center;
    border: none;
    transition: all 0.2s;
    border: 3px black solid;
    
}
.container button:hover{
    transform: translate(-5px,-5px);
    box-shadow: 15px 15px 40px 15px black;
}

.rock{
    background: url(rock.jpg);
    background-size: cover;
}
.paper{
    background: url(paper.jpg);
    background-size: contain;
}
.scissors{
    background: url(scissors.jpg);
    background-size: cover;
}
.whoWon{
    position: absolute;
    height: 500px;
    width: 500px;
    background:url(cross.png);
    background-position: center;
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
}
.count{
    height: 250px;
    width: 500px;
    font-family: "Inter";
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;

}